body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

#slide1{
  /* background-color: red; */
  animation: slidder 1s ease-in;
  opacity: 2;
}

#slide2{
  animation: slidder2 1s ease-in;
  opacity: 2;
}

@keyframes slidder {
  0%{
    transform: translate(500px);
    /* opacity: 1; */
  }
  100%{
    transform: translate(0px);
    /* opacity: 0; */
  }
}

@keyframes slidder2 {
  from{
    /* opacity: 2; */
    transform: translate(-500px);
  }
  to{
    /* opacity: 0; */
    transform: translate(0px);
  }
}

html{
  scroll-behavior: smooth;
}

.sidebar{
  transition-duration: 1s;
}
#SiderBar{
  animation: popanime 0.2s ease-in;
}
@keyframes popanime {
  from{
    transform: translate(-200px);
    background-color: rgb(179, 179, 179);
  }
  to{
    transform:translate(0px);
  }
}

#Popper{
  animation: signpop 0.2s ease-in ;
  
 
}

@keyframes signpop {
  from{

    transform: translateY(-200px);
    margin: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    /* top: 20%; */
    
    /* background-color: rgb(179, 179, 179); */
  }
  to{
    transform:translateY(0px);
    transform: translate(-50% , -50%);
    left: 50%;
    /* top: 20%; */
    

   
  }
}
